@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.sidebar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
